@model IEnumerable<DemoAdminPPP.Models.Product>
@{
    ViewBag.Title = "Timkiem";
    Layout = "~/Views/Shared/_LayoutPPP.cshtml";
    var str = ".jpg";
}

<div class="w3ls_w3l_banner_nav_right_grid1">
    <h6>Tìm kiếm sản phẩm</h6>

    @foreach (var item in Model)
    {
        <div class="col-md-3 w3ls_w3l_banner_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="@Url.Action("SanPham","PPP",new {id=item.product_id})">
                                        @foreach (var img in ViewBag.img)
                                        {
                                            if (img.product_id == item.product_id)
                                            {
                                                <img title=" " alt=" " src="~/Content/image/@img.image_name@str" style="height = 50xp" />

                                            }
                                        }
                                    </a>
                                    <p>@Html.DisplayFor(modelItem => item.product_name)</p>
                                    <h4>@Html.DisplayFor(modelItem => item.price)</h4>

                                    <div class="snipcart-details">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="business" value=" " />
                                                <input type="hidden" name="item_name" value="knorr instant soup" />
                                                <input type="hidden" name="amount" value="3.00" />
                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                <input type="hidden" name="currency_code" value="USD" />
                                                <input type="hidden" name="return" value=" " />
                                                <input type="hidden" name="cancel_return" value=" " />
                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

